:root {
  --background: #000000;
  --foreground: #171717;
  --blanco: #ffffff;
  --naranja: #ff6600;
  --gris: #808080;
  --verde: #008000;
  --verdeClaro: #3c9d34;
  --verdeOscuro: #1eaf1e97;
  --rojo: #ff0000;
  --rojoClaro: #f04242;
  --azul: #2782e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
